@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url(".../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url(".../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
}
.button {
  font-size: 20px;
  line-height: 26px;
  color: #ffffff;
  background-color: #756257;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.page-header {
  color: #000000;
}

.navigation-link {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-align: center;
  text-decoration: none;
}

.navigation-item-link {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #ffffff;
  text-decoration: none;
}

.promo {
  background-image: url("images/index-background.jpg");
  background-size: 1200px 485px;
  background-repeat: no-repeat;
  color: #000000;
  background-color: #ffffff;
}

.advantages-title {
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.advantages-description {
  font-size: 22px;
  line-height: 36px;
  text-align: center;
  color: #333333;
}

.text {
  background-color: #83B3D3;
}

.advantages-item {
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
}

.advantages-item-1,
.advantages-item-3 {
  background-color: #83B3D31F;
}

.advantages-item-description {
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #ffffff;
}

li .advantages-items {
  background-color: #ffffff;
  color: #000000;
}

.item {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
}

.item-description {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  text-align: center;
}

.advantages-item {
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.advantages-item-description {
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #333333;
}

.third-advantage,
.fifth-advantage {
  background-color: #83B3D31F;
}

.fourth-advantage {
  background-color: #83B3D333;
}
.question {
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}
.answer {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
}
.newsletter {
  background-image: url("images/background-2.jpg");
  background-color: #83B3D3;
}
.newsletter-title {
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}
.newsletter-description {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
}
.newsletter-button {
  background-color: #83B3D3;
}
.footer-contacts-phone {
  color: #000000;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
}
